body{
    overflow-y: scroll;

    animation-name: exam;
    animation-duration:5s;
    background-color: #f4f4f4;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 5px;

}
.gender{
    top: -20px;
}
.wel {
    font-family: Arial, sans-serif;
    position: relative;
    text-align: center;
    font-size: 40px;

    color: black;
    margin: 1px;
    padding: 10px;
    border-radius: 10px;
    /* Add border color */
}
@keyframes example {
    0% { background-color: green; }
    25% { background-color: blue; }
    50% { background-color: orange; }
    75% { background-color: red; }
    100% { background-color: green; }


}
@keyframes ex {
    from { background-color: white; }
    to { background-color: #F5F5F5; }
}
fieldset{
    border: 0px solid  ;
    margin-top: -20px;
    border-radius: 10px;
}
.register{
    font-family: Ariel, sans-serif;
    font-size:20px;
    position: fixed;
    top: 90px;
    text-align: center;
    border: none ;
    right: 550px;
    /* Background image */
    background: white;
    background-size: cover;
    background-position: center;
    color:black;


    z-index: 20;
    border-radius: 10px;
}
#showPassword{

}
label{
    color: black;
    font-weight: bold;
}

.name-container {
    position: static;
    display: flex;
    gap: 20px;
}

.field {
    position: static;
    display: flex;
    flex-direction: column;
}

.gender input{
    margin-left: 20px;
    position: static;
    background-color: #3da9fc;
}
.register script{
    font-family: Ariel, sans-serif;
    font-size:20px;
    display: flex;
    position: static;
}
.sub input:hover {
    color: #ef4565;
    font-weight: bold;

}
.sub input{
    background-color: #3da9fc;
}
.sub{

    font-family: Ariel, sans-serif;
    font-size:20px;
    position: static;

}